.navbar {
    background-color: #ECD1B9;
}

.margin  {
    padding-top: 40px;  
}

.bg-footer {
    background-color: #ECD1B9;
    color: black;
    font-weight: bold;
    margin: auto;
    padding:1px;
}